# DICTIONARIES

- Creation, accessing the elements

In [1]:
#dict_name={key:value,key:value}
dict_1={"jan":31,"feb":28,"march":31}
print(type(dict_1))
print(dict_1)

<class 'dict'>
{'jan': 31, 'feb': 28, 'march': 31}

In [2]:
print(dict_1["jan"])
print(dict_1["feb"])

31
28

- updating a dictionary

In [3]:
dict_1={"jan":31,"feb":28,"march":31}
dict_1["april"]=30
print(dict_1)
dict_1["feb"]=29
print(dict_1)

{'jan': 31, 'feb': 28, 'march': 31, 'april': 30}
{'jan': 31, 'feb': 29, 'march': 31, 'april': 30}

- Deleting a dictionary

In [4]:
dict_1={"jan":31,"feb":28,"march":31}
del dict_1["march"]
print(dict_1)

{'jan': 31, 'feb': 28}

- Keys are unique and immutable

In [5]:
dict_1={"jan":31,"feb":28,"march":31}
dict_1["april"]=[28,29,30,31]
print(dict_1)
dict_2 ={[29,29,30,31]:45,"feb":28}

{'jan': 31, 'feb': 28, 'march': 31, 'april': [28, 29, 30, 31]}

TypeError: unhashable type: 'list'

- Dictonary Functions

In [6]:
dict_1={"jan":31,"feb":28,"march":31}
print(len(dict_1))

3

In [7]:
print(dict_1.get("feb"))
print(dict_1.get("feb","not found"))

print(dict_1.get("april","not found"))
print(dict_1.get("april",30))
print(dict_1)

28
28
not found
30
{'jan': 31, 'feb': 28, 'march': 31}

In [8]:
print(dict_1.items())
print(type(dict_1.items()))
print(list(dict_1.items()))
print(type(list(dict_1.items())))

dict_items([('jan', 31), ('feb', 28), ('march', 31)])
<class 'dict_items'>
[('jan', 31), ('feb', 28), ('march', 31)]
<class 'list'>

In [ ]:
print(dict_1.keys())
print(type(dict_1.keys()))
print(list(dict_1.keys()))

In [ ]:
print(dict_1.values())
print(type(dict_1.values()))
print(list(dict_1.values()))

# Tuples

In [ ]:
tuple1 = (30,50,"jan","A",45.5)
print(tuple1)
print(type(tuple1))

In [ ]:
print(tuple1[0])
print(tuple1[-1])

In [ ]:
print(tuple1[1:])
print(tuple1[1::2])
print(tuple1[::-1])

In [ ]:
tuple1[0]=100

# LOOPS

- range

In [ ]:
print(range(10))
print(type(range(10)))
print(list(range(0,10)))
print(list(range(2,8)))
print(list(range(0,10,2)))
#print(list(range(0,10,2.3)))

- for loop

In [ ]:
for everyitem in list(range(0,10)):
    print(everyitem)
for everyitem in list(range(0,10)):
     print(everyitem,end =" ")

In [ ]:
#print(str,sep-,end-)
print("shwetank","mishra",sep = "",end = "@")
print("eduvance.in")

In [ ]:
list1 = [1,12,23,4,5,56,243,2,"a","c"]
for i in list1:
    print(i)

In [ ]:
for i in list(range(1,0)):
    if i%2==0:
        print(i)
    print("*****",i,"*****")

- While Loop

In [ ]:
num = 0
while num<5:
    print(num)
    num+=1
    #num=num+1

In [ ]:
list1=[1,2,3,4,5]
while len(list1)>0:
    del list1[-1]
    print(list1)

- String Functions

- startswith, endswith

In [ ]:
str1= "cat apple yogya khan"
print(str1.startswith("cat"))

if str1.startswith("cat"):
    print("correct")
    
    if str1.endswith("khan"):
        print("correct")
        
else:
    print("incorrect")

In [ ]:
str1= "cat apple mango dog"
print(str1.startswith("apple",4))
print(str1.startswith("apple",4,9))

In [ ]:
str1= "cat apple mango dog"
print(str1.endswith("og",4))
print(str1.endswith("og",4,4))

- strip,lstrip,rstrip

In [3]:
str1 ="0000cat apple mango dog0000"
print(str1.strip("c"))
print(str1.strip("0"))
str2 = "     cat apple mango dog     "
print(str2.strip(" "))

0000cat apple mango dog0000
cat apple mango dog
cat apple mango dog

In [ ]:
print(str1.lstrip("0"))
print(str1.strip("c"))

In [ ]:
print(str1.rstrip("0"))
print(str1.strip("c"))

- isupper, islower, upper, lower

In [ ]:
str1= "HELLO"
str2= "hello"
str3= "HEllo"
print(str1.isupper())
print(str2.isupper())
print(str1.isupper())
if str1.isupper():
    print("It is upper case")
else:
    print("It is not upper case")

In [ ]:
print(str1.islower())
print(str2.islower())
print(str3.islower())
if str1.islower():
    print("It is lower case")
else:
    print("It is not lower case")

In [ ]:
str1= "HELLO"
str2= "hello"
str3= "HEllo"
print(str2)
print(str2.upper())
print(str3.upper())

In [ ]:
str1= "HELLO"
str2= "hello"
str3= "HEllo"
print(str2)
print(str2.lower())
print(str3.lower())

In [ ]:
print(str3)
print(str3.swapcase())

 - replace, join,split

In [ ]:
oldstring = " I like programming"
newstring = oldstring.replace("like","love")
print(newstring)

newstring = oldstring.replace("dislike","love")
print(newstring)

oldstring =" I like Python. I like programming.i just like programming"
newstring = oldstring.replace("like","love",1)
print(newstring)

In [ ]:
sep ="-"
date = sep.join(("13","6","2019")) #tuple
print(date)

In [ ]:
sep ="-"
date = sep.join(["13","6","2019"]) #list
print(date)

In [ ]:
sep= "  &  "
list1= ["prathamesh","shwetank","yugesh","elizabeth"]
names = sep.join(list1)
print(names)

In [ ]:

str1 ="cat?dog?monkey?deer?yugesh"
names=str1.split("?")
print(names)
names=str1.split("?",3)
print(names)
names=str1.split("?",1)
print(names)