# Association Learning

## Lab Assignment - Market Basket Analysis-2

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [7]:
te = TransactionEncoder()
te = te.fit(dataset)# Reads all unique items
te_ary = te.transform(dataset)#Converts into matrix
print(te_ary)
print(te.columns_)
df = pd.DataFrame(te_ary,columns= te.columns_)
df

[[False False False  True False  True  True  True  True False  True]
 [False False  True  True False  True False  True  True False  True]
 [ True False False  True False  True  True False False False False]
 [False  True False False False  True  True False False  True  True]
 [False  True False  True  True  True False False  True False False]]
['Apple', 'Corn', 'Dill', 'Eggs', 'Ice cream', 'Kidney Beans', 'Milk', 'Nutmeg', 'Onion', 'Unicorn', 'Yogurt']

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [24]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df,min_support =0.8,use_colnames =True)#support is frequency
frequent_itemsets # itemset are in tuple
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric='support',min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.0,0.0,1.000000
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.0,0.0,inf

In [25]:
rules = association_rules(frequent_itemsets,metric='support',min_threshold=0.8)

In [29]:
cartItem = ['milk']
pred = rules[rules['antecedents'].apply(lambda x:set(cartItem).issubset(set(x)))]

In [28]:
pred['consequents']

Series([], Name: consequents, dtype: object)