# MACHINE LEARNING

# Association Learning

Association analysis is all about uncovering data relationships and using this asset to gain competitive advantage. It is a means to discover relationships in large data sets. Hidden data relationships will be expressed as a collection of association rules and frequent item sets with association analysis.

In [19]:
# pip install mlxtend

In [5]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
#mlxtend.__version__

In [6]:
dataset=[['bread','milk','beer'],\
        ['bread','diapers','eggs'],\
        ['milk','diapers','beer','cola'],\
        ['bread','milk','diapers','beer'],\
        ['bread','milk','cola']]

In [7]:
te = TransactionEncoder()
te = te.fit(dataset)# Reads all unique items
te_ary = te.transform(dataset)#Converts into matrix
print(te_ary)
print(te.columns_)

[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]
['beer', 'bread', 'cola', 'diapers', 'eggs', 'milk']

In [8]:
df = pd.DataFrame(te_ary,columns= te.columns_)
df

    beer  bread   cola  diapers   eggs   milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [9]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df,min_support =0.6,use_colnames =True)#support is frequency
frequent_itemsets # itemset are in tuple

   support       itemsets
0      0.6         (beer)
1      0.8        (bread)
2      0.6      (diapers)
3      0.8         (milk)
4      0.6   (beer, milk)
5      0.6  (milk, bread)

In [10]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric='support',min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(beer),(milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(milk),(beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(milk),(bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(bread),(milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [11]:
rules = association_rules(frequent_itemsets,metric='support',min_threshold=0.6)

In [13]:
rules[rules['confidence']>0.8]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(beer),(milk),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [14]:
rules[rules['support']<=rules['support'].max()]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(beer),(milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(milk),(beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(milk),(bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(bread),(milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [28]:
cartItem = ['milk']
pred = rules[rules['antecedents'].apply(lambda x:set(cartItem).issubset(set(x)))]

In [29]:
pred['consequents']

1     (beer)
2    (bread)
Name: consequents, dtype: object